body{
    font-size: 16px; /* 부모요소 */
    text-align: center;
    width: 600;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #ffffff;
}

#memo{
    text-align:left;
}

.me{
    text-align:right;
    font-size:13px;
}

h3{
    margin-top:30px;
}

button{
    background-color: #f8fafc;
    border: 1px solid #74a8fc;
    border-radius: 6px;
}

p{
    margin-bottom:15px;
}

.card{
    border: 1px solid #74a8fc;
    margin: 10px;
    border-radius: 20px;
}